[submodule "external/SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "external/SPIRV-Tools"]
	path = external/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/re2"]
	path = external/re2
	url = https://github.com/google/re2
[submodule "external/effcee"]
	path = external/effcee
	url = https://github.com/google/effcee
