name: "Apply code format"
on:
  issue_comment:
    types: edited

permissions:
  contents: write

jobs:
  apply_diff:
    if: ${{ startsWith(github.event.comment.body, '@apply-format<!--LLVM CODE FORMAT COMMENT:') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        id: get-pr
        with:
          script: |
            const request = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            core.info(`Getting PR #${request.pull_number} from ${request.owner}/${request.repo}`)
            try {
              const result = await github.pulls.get(request)
              return result.data
            } catch (err) {
              core.setFailed(`Request failed with error ${err}`)
            } 
      - name: Fetch LLVM sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          ref: ${{ fromJSON(steps.get-pr.outputs.result).head.ref }}
          repository: ${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}

      - name: Setup Python env
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'utils/git/requirements_formatting.txt'

      - name: Install python dependencies
        run: pip install -r utils/git/requirements_formatting.txt

      - name: Apply code diff
        env:
          GITHUB_PR_NUMBER: ${{ github.event.issue.number }}
          COMMENT_ID: ${{ github.event.comment.id }}
        run: |
          python utils/git/code-format-diff-apply.py \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --issue-number $GITHUB_PR_NUMBER \
            --comment-id $COMMENT_ID
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          branch: ${{ fromJSON(steps.get-pr.outputs.result).head.ref }}
          repository: ${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
